h1 {
    color: red;
    }

img {
    width: 400px;
    }

div #thirdDiv {
    height: 500px;
    width: 600px;
    background-color: green;
    padding: 50px;
    border: 10px solid blue;
    }

div #spanId {
    font-size: 18;
    margin: 50px;
    }
